body{ 
	background-color: #f2f2f2
}

.navbar{ background-color:#2f3a44}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
  }
  
.slider-margem{
	margin-top:-20px;
}




